/* external css */
h2{
background-color: rgb(196, 214, 245);
color: blueviolet;
text-align: center;
}
body{
    background-color: aliceblue;
    background-image: url("https://cdn.pixabay.com/photo/2017/04/05/04/44/background-2203989_1280.jpg");
    

}
label{
    background-color: #cacfd8;
    color: rgb(165, 42, 120);
    text-align:start
}
option{
    color: blueviolet;
}
